.container{
    width:min(276px,100%);
    margin-right: auto;
    margin-top:auto;
    position: absolute;
    top:7vh;
    height: 92.5%;
    background-color: #f8f8f8d8;
    border-right:1px solid #ccc;
    overflow:scroll;
    overflow-x:hidden;
}
.container::-webkit-scrollbar{
    width:4px;
}
.container::-webkit-scrollbar-track{
    border-radius:10px;
}
.container::-webkit-scrollbar-thumb{
    background-color:#a5dafa;
}
.recentContacts{
    font-weight: 600;
    border-left:4px solid #a5dafa;
    border-bottom: 1px solid #ccc;
    padding:1rem;
}
.recentContacts p{
    display:inline;
}
.caret{
    display: inline;
    margin-left:5.4rem;
    cursor: pointer;
}

/* .Indicator{
    position:absolute;
    background-color: #a5dafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width:11%;
    font-size:.8rem;
    aspect-ratio: 1;
    border-radius:50%;
    right:10%;
}
.no_contact{
} */
