.container{
    width:min(276px,100%);
    margin-right: auto;
    margin-top:auto;
    position: absolute;
    top:7vh;
    height: 92.5%;
    background-color: #f8f8f8d8;
    border-right:1px solid #ccc;
    overflow:scroll;
    overflow-x:hidden;
}
.containerAlt{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container::-webkit-scrollbar{
    width:4px;
}
.container::-webkit-scrollbar-track{
    border-radius:10px;
}
.container::-webkit-scrollbar-thumb{
    background-color:#a5dafa;
}
.icon{
    font-size:2rem;
    margin-right:.5rem;
    color:#a5dafa
}
.users{
    list-style: none;
    display: block;
}
.user{
    display: flex;
    align-items: center;
    position: relative;
    padding:1rem;
}
.user:hover{
    cursor: pointer;
    background-color: #f8f8f8d8;
}
.user::after{
    content: '';
    position: absolute;
    width:90%;
    height:1.5px;
    background-color:#ccc;
    bottom:0;
    left:0;
    transition:all 300ms ease-in-out;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.user:hover::after{
    width:100%;
}
.user p{
    margin-bottom:.2rem;
}
.meta{
    font-size:.87rem;
}
.c{
    display:flex;
    justify-content: center;
    align-items: center;
}
.symbol{ 
    width:10px;
    aspect-ratio: 1;
    background-color: green;
    border-radius:50%;
    margin-left:.5rem;
    margin-bottom:.2rem;
}
.red{
    background-color: red;
}
.Indicator{
    position:absolute;
    background-color: #a5dafa;
    display: flex;
    justify-content: center;
    align-items: center;
    width:11%;
    font-size:.8rem;
    aspect-ratio: 1;
    border-radius:50%;
    right:10%;
}
.no_contact{
}
