.contextMenu { 
  position: absolute; 
  width:200px;
  z-index:1;
} 
.menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding-top: 10px;
}
.menu li{
    padding:1rem;
    display: flex;
    width: 100%;
    border-bottom:1px solid #ccc;
    transition:background-color 150ms linear;
}
.menu li:last-child{
  border-bottom: none;
}
.menu a{
    text-decoration: none;
    margin-left:.5rem;
    color:#333;
}
.user{
  margin-right:.5rem;
}
.menu li:hover{
    cursor: pointer;
    background-color: rgb(223, 218, 218);
}
.close{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding-right:1.3rem;
    margin-bottom:.1rem;
}


